
body{
  background-color: #EEEEEE;
}




/* Navigation section */
nav{
  background-color: #F2E1C1;
  padding: 5% 25% 0% 5%;
}
.nav-link{
  color: #716F81;
}
.nav-link:hover{
  color: white;
}

.navbar-brand{
  font-size: 2rem;
  color: #716F81;
}
.navbar-brand:hover{
  color: white;
}

.nav-item{
  padding-left: 20%;
}

.nav-btn-cus{
  color: #716F81;
}



/* header section */

.header-section{
  background-color: #F2E1C1;
  padding-top: 5%;
}

.header-heading{
  margin-bottom: 20%;
  font-weight: bold;
}

.header-img{
  width: 50vw;
}

.header-content{
  padding: 0 0 0 5%;
}
.header-btn{
  margin-right: 10%;
  color: #716F81;
}




/* Features section */

.features-section{
  margin-top: 5%;
  text-align: center;
  padding-bottom: 5%;
}

.features-div{
  margin: auto;
}
.features-heading{
  margin-bottom: 5%;
}
.icon-feature{
  font-size: 400%;
  margin-bottom: 5%;
  color: #716F81;
}

p{
  width: 50%;
  margin: auto;
  color: #716F81;
}



/* testimonials section */

#testimonials{
  padding: 5% 0;
  background-color: #F2E1C1;
  text-align: center;
  color: #716F81;
}
.testimonial-head{
  font-size: 175%;
  width: 40%;
  margin: auto;
  padding-bottom: 5%;
}
.testimonial-img{
  margin: 0 2% 0 5%;
  width: 10%;
  border-radius: 100%;
}
em{
  font-size: 125%;
}

.button-icon{
  color: #716F81;
}



/* footer section */

.footer-section{
  text-align: center;
  margin: 5%;
  margin-bottom: 0;
  padding-bottom: 1%;
}
.footer-head{
  margin-bottom: 2%;
  color: #716F81;
}

.footer-link{
  font-size: 125%;
}
.footer-link:hover{
  color: #2B2B2B;
}

.footer-icon{
  font-size: 250%;
  color: #716F81;
}


/* media queries */

@media screen and (max-width:990px) {
.header-heading{
  text-align: center;
}
}

@media screen and (max-width: 368px) {

  .header-content{
    text-align: center;
  }
  .header-btn{
    margin-bottom: 5%;
  }
  .header-img-div{
    text-align: center;
  }
  .header-img{
    width: 75vw;
  }

}
